@import '../../../breakpoints/breakpoints.scss';
@import '../../../mixins/mixins.scss';

.container {
	@include heightWidth(auto, 100%);
	background-color: var(--mainColor);
	color: var(--mainText);
	z-index: 2;
	.subContainer {
		@include heightWidth(auto, 100%);
		margin: auto;
		@include flexCenter(column, center, center);
		position: relative;
		z-index: 3;
		.textContainer {
			@include heightWidth(auto, 100%);
			@include flexCenter(column, flex-start, center);
			.subTitle {
				font-size: 3rem;
				margin: 0.5em 0px;
				color: var(--mainText);
				font-weight: 400;
				font-family: 'Modak', cursive;
			}
			.subText {
				font-size: 1.5rem;
				color: var(--subText);
				font-weight: 600;
				font-family: 'Cabin', sans-serif;
				#gaLink {
					color: var(--subText);
					&:hover {
						color: var(--subText);
						color: var(--mainText);
						text-decoration: none;
					}
				}
				.skillContainer {
					@include heightWidth(auto, 100%);
					font-size: 1rem;
					display: grid;
					justify-self: center;
					grid-template-columns: 2fr 2fr 2fr 2fr;
					.skills {
						@include flexCenter(row, center, center);
						@include heightWidth(5vh, 5vw);
						margin: 0.25em;
						padding: 40px;
						color: var(--TertiaryText);
						background-color: var(--TertiaryTextBtn);
						border: 1px solid var(--themeContainerDotBorder);
						border-radius: 50%;
						-moz-box-shadow: 0 2px 2px var(--shadow);
						-webkit-box-shadow: 0 2px 2px var(--shadow);
						box-shadow: 0 2px 2px var(--shadow);
						.skill {
							font-size: 0.75rem;
							@include flexCenter(row, center, center);
							font-family: 'Cabin', sans-serif;
						}
					}
				}
			}
		}
		.svgContainer {
			@include heightWidth(100%, 100%);
			z-index: -1;
			object-fit: contain;
			object-position: right;
			overflow: hidden;
			@include topLeftAbsolute(10%, 50%);
			transform: translateX(-50px, -50px);
		}
		.resumeDlContainer {
			@include heightWidth(auto, 100%);
			padding: 0px 1em;
			margin: 1em 0px;
			.resumeDlText {
				@include heightWidth(auto, 100%);
				font-size: 1.5rem;
				font-weight: 600;
				z-index: 20;
				font-family: 'Cabin', sans-serif;
			}
			.downloadContainer {
				transform: scale(1);
				transition: transform 0.5s ease-in-out;
				&:hover {
					transform: scale(1.05);
				}
				.resumeDlLink {
					color: var(--TertiaryText);
					background: var(--TertiaryTextBtn);
					padding: 0.25em 0.5em;
					border-radius: 50px;
					font-size: 1.5rem;
					font-weight: 600;
					line-height: 2.5;
					-moz-box-shadow: 0 4px 4px var(--shadow);
					-webkit-box-shadow: 0 4px 4px var(--shadow);
					box-shadow: 0 4px 4px var(--shadow);
					font-family: 'Cabin', sans-serif;
					transform: scale(1);
					transition: all 0.5s ease-in-out;
					&:hover {
						transform: scale(1.05);
						color: var(--TertiaryTextBtnText);
						background: var(--TertiaryTextBtnHover);
						text-decoration: none;
					}
					.resumeIcon {
						transform: scale(1);
						transition: transform 0.5s ease-in-out;
						font-size: 1.5rem;
					}
					&:hover {
						transform: scale(1.05);
					}
				}
			}
		}
	}

	@include media('<=phone') {
		.subContainer {
			@include heightWidth(auto, 100%);
			@include flexCenter(column, center, center);
			margin: auto;
			position: relative;
			z-index: 2;
			.textContainer {
				@include heightWidth(auto, 100%);
				@include flexCenter(column, center, center);
				.subTitle {
					font-size: 1.75rem;
				}
				.subText {
					font-size: 1rem;
					#gaLink {
						&:hover {
						}
					}
					.skillContainer {
						@include heightWidth(auto, 100%);
						margin: auto;
						padding: 0px;
						transform: scale(0.9, 0.9);
						.skills {
							@include heightWidth(4em, 4em);
							.skill {
							}
						}
					}
				}
			}
			.svgContainer {
				height: auto;
				z-index: -1;
				object-fit: contain;
				@include topLeftAbsolute(0%, -10%);
				@include flexCenter(column, flex-end, center);
				@include heightWidth(auto, 400%);
			}
			.resumeDlContainer {
				@include heightWidth(auto, 100%);
				padding: 0px;
				margin: 1em 0px;
				.resumeDlText {
					font-size: 0.75rem;
				}
				.resumeDlLink {
					font-size: 1rem;
					&:hover {
					}
					.resumeIcon {
						font-size: 1rem;
					}
				}
			}
		}
	}
	@include media('>phone', '<=425px') {
		.subContainer {
			@include heightWidth(auto, 100%);
			@include flexCenter(column, center, center);
			margin: auto;
			position: relative;
			z-index: 2;
			.textContainer {
				@include heightWidth(auto, 100%);
				@include flexCenter(column, center, center);
				.subTitle {
					font-size: 2.5rem;
				}
				.subText {
					font-size: 1rem;
					#gaLink {
						&:hover {
						}
					}
					.skillContainer {
						@include heightWidth(auto, 100%);
						margin: auto;
						padding: 0px;
						transform: scale(0.9, 0.9);
						.skills {
							@include heightWidth(6em, 6em);
							.skill {
							}
						}
					}
				}
			}
			.svgContainer {
				height: auto;
				z-index: -1;
				object-fit: contain;
				@include topLeftAbsolute(-5%, -10%);
				@include flexCenter(column, center, center);
				@include heightWidth(auto, 320%);
			}
			.resumeDlContainer {
				@include heightWidth(auto, 100%);
				padding: 0px;
				margin: 1em 0px;
				.resumeDlText {
					font-size: 0.9rem;
				}
				.resumeDlLink {
					font-size: 1.5rem;
					&:hover {
					}
					.resumeIcon {
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	@include media('>425px', '<=tablet') {
		.subContainer {
			@include heightWidth(auto, 100%);
			@include flexCenter(column, center, center);
			margin: auto;
			position: relative;
			z-index: 2;
			.textContainer {
				@include heightWidth(auto, 65%);
				@include flexCenter(column, center, center);
				.subTitle {
					font-size: 2.5rem;
				}
				.subText {
					font-size: 1rem;
					#gaLink {
						&:hover {
						}
					}
					.skillContainer {
						.skills {
							@include heightWidth(6em, 6em);
							.skill {
							}
						}
					}
				}
			}
			.svgContainer {
				z-index: -1;
				object-fit: contain;
				@include topLeftAbsolute(0%, 15%);
				@include flexCenter(column, flex-end, center);
				@include heightWidth(auto, 170%);
			}
			.resumeDlContainer {
				@include heightWidth(auto, 100%);
				padding: 0px;
				margin: 1em 0px;
				.resumeDlText {
					font-size: 1.25rem;
				}
				.resumeDlLink {
					font-size: 1.5rem;
					&:hover {
					}
					.resumeIcon {
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	@include media('>tablet', '<desktop') {
		.subContainer {
			@include heightWidth(auto, 100%);
			@include flexCenter(column, center, flex-start);
			max-width: 690px;
			margin: auto;
			position: relative;
			z-index: 2;
			.textContainer {
				@include heightWidth(auto, 65%);
				padding: 0px 1em;
				margin: auto 1em;
				.subTitle {
					font-size: 4rem;
				}
				.subText {
					font-size: 1rem;
					#gaLink {
						&:hover {
						}
					}
					.skillContainer {
						.skills {
							width: 4em;
							height: 4em;
							@include heightWidth(4em, 4em);
							.skill {
							}
						}
					}
				}
			}
			.svgContainer {
				@include topLeftAbsolute(0%, 20%);
				@include heightWidth(auto, 180%);
				@include flexCenter(column, center, center);
				margin: auto 0px;
				object-fit: contain;
			}
			.resumeDlContainer {
				.resumeDlText {
					font-size: 1.5rem;
				}
				.resumeDlLink {
					font-size: 1.75rem;
					&:hover {
					}
					.resumeIcon {
						font-size: 1.75rem;
					}
				}
			}
		}
	}

	@include media('>=desktop') {
		.subContainer {
			@include heightWidth(auto, 100%);
			@include flexCenter(column, center, center);
			margin: auto;
			.textContainer {
				@include heightWidth(auto, 65%);
				padding: 0px 1em;
				margin: auto 2em;
				.subTitle {
					font-size: 4.5rem;
				}
				.subText {
					font-size: 2rem;
					#gaLink {
						&:hover {
						}
					}
					.skillContainer {
						.skills {
							@include heightWidth(7em, 7em);
							margin: 0.5em auto;
							@include flexCenter(column, center, center);
							.skill {
								font-size: 1rem;
							}
						}
					}
				}
			}
			.svgContainer {
				@include topLeftAbsolute(0%, 20%);
				@include heightWidth(auto, 160%);
			}
			.resumeDlContainer {
				.resumeDlText {
					font-size: 1.5rem;
				}
				.resumeDlLink {
					padding: 0.25em 2em;
					font-size: 2rem;
					&:hover {
					}
					.resumeIcon {
						font-size: 2rem;
					}
				}
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.subContainer {
			@include flexCenter(column, center, flex-start);
			@include heightWidth(auto, 100%);
			margin: auto;
			.textContainer {
				@include heightWidth(auto, 65%);
				padding: 0px 1em;
				margin: auto 1em;
				.subTitle {
					font-size: 7rem;
				}
				.subText {
					font-size: 2rem;
					#gaLink {
						&:hover {
						}
					}
					.skillContainer {
						.skills {
							@include heightWidth(9em, 9em);
							@include flexCenter(column, center, center);
							margin: 0.5em;
							.skill {
								font-size: 1.5rem;
							}
						}
					}
				}
			}
			.svgContainer {
				@include topLeftAbsolute(0%, 10%);
				@include heightWidth(auto, 200%);
			}
			.resumeDlContainer {
				.resumeDlText {
					font-size: 2.5rem;
				}
				.resumeDlLink {
					padding: 0.25em 2em;
					font-size: 2.5rem;
					&:hover {
					}
					.resumeIcon {
						font-size: 2.5rem;
					}
				}
			}
		}
	}
}

@med;
