/**
*
* Testing
*
**/
.container {
  height: auto;
  width: 100%;
  background-color: var(--mainColor);
  color: var(--mainText);
  z-index: 2;
}

.container .subContainer {
  height: auto;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.container .subContainer .textContainer {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .subContainer .textContainer .subTitle {
  font-size: 3rem;
  margin: 0.5em 0px;
  color: var(--mainText);
  font-weight: 400;
  font-family: 'Modak', cursive;
}

.container .subContainer .textContainer .subText {
  font-size: 1.5rem;
  color: var(--subText);
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
}

.container .subContainer .textContainer .subText #gaLink {
  color: var(--subText);
}

.container .subContainer .textContainer .subText #gaLink:hover {
  color: var(--subText);
  color: var(--mainText);
  text-decoration: none;
}

.container .subContainer .textContainer .subText .skillContainer {
  height: auto;
  width: 100%;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
}

.container .subContainer .textContainer .subText .skillContainer .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  width: 5vw;
  margin: 0.25em;
  padding: 40px;
  color: var(--TertiaryText);
  background-color: var(--TertiaryTextBtn);
  border: 1px solid var(--themeContainerDotBorder);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px var(--shadow);
  box-shadow: 0 2px 2px var(--shadow);
}

.container .subContainer .textContainer .subText .skillContainer .skills .skill {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Cabin', sans-serif;
}

.container .subContainer .svgContainer {
  height: 100%;
  width: 100%;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50px, -50px);
          transform: translateX(-50px, -50px);
}

.container .subContainer .resumeDlContainer {
  height: auto;
  width: 100%;
  padding: 0px 1em;
  margin: 1em 0px;
}

.container .subContainer .resumeDlContainer .resumeDlText {
  height: auto;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 20;
  font-family: 'Cabin', sans-serif;
}

.container .subContainer .resumeDlContainer .downloadContainer {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container .subContainer .resumeDlContainer .downloadContainer:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .subContainer .resumeDlContainer .downloadContainer .resumeDlLink {
  color: var(--TertiaryText);
  background: var(--TertiaryTextBtn);
  padding: 0.25em 0.5em;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5;
  -webkit-box-shadow: 0 4px 4px var(--shadow);
  box-shadow: 0 4px 4px var(--shadow);
  font-family: 'Cabin', sans-serif;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .subContainer .resumeDlContainer .downloadContainer .resumeDlLink:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: var(--TertiaryTextBtnText);
  background: var(--TertiaryTextBtnHover);
  text-decoration: none;
}

.container .subContainer .resumeDlContainer .downloadContainer .resumeDlLink .resumeIcon {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  font-size: 1.5rem;
}

.container .subContainer .resumeDlContainer .downloadContainer .resumeDlLink:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 360px) {
  .container .subContainer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .container .subContainer .textContainer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 1.75rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 1rem;
  }
  .container .subContainer .textContainer .subText .skillContainer {
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    height: 4em;
    width: 4em;
  }
  .container .subContainer .svgContainer {
    height: auto;
    z-index: -1;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: 0%;
    left: -10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 400%;
  }
  .container .subContainer .resumeDlContainer {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 1em 0px;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 0.75rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink {
    font-size: 1rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink .resumeIcon {
    font-size: 1rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .container .subContainer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .container .subContainer .textContainer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 2.5rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 1rem;
  }
  .container .subContainer .textContainer .subText .skillContainer {
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    height: 6em;
    width: 6em;
  }
  .container .subContainer .svgContainer {
    height: auto;
    z-index: -1;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: -5%;
    left: -10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 320%;
  }
  .container .subContainer .resumeDlContainer {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 1em 0px;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 0.9rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink {
    font-size: 1.5rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink .resumeIcon {
    font-size: 1.5rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container .subContainer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .container .subContainer .textContainer {
    height: auto;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 2.5rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 1rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    height: 6em;
    width: 6em;
  }
  .container .subContainer .svgContainer {
    z-index: -1;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: 0%;
    left: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 170%;
  }
  .container .subContainer .resumeDlContainer {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 1em 0px;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 1.25rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink {
    font-size: 1.5rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink .resumeIcon {
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .container .subContainer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 690px;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .container .subContainer .textContainer {
    height: auto;
    width: 65%;
    padding: 0px 1em;
    margin: auto 1em;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 4rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 1rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    width: 4em;
    height: 4em;
    height: 4em;
    width: 4em;
  }
  .container .subContainer .svgContainer {
    position: absolute;
    top: 0%;
    left: 20%;
    height: auto;
    width: 180%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto 0px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 1.5rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink {
    font-size: 1.75rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink .resumeIcon {
    font-size: 1.75rem;
  }
}

@media (min-width: 1366px) {
  .container .subContainer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .container .subContainer .textContainer {
    height: auto;
    width: 65%;
    padding: 0px 1em;
    margin: auto 2em;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 4.5rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 2rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    height: 7em;
    width: 7em;
    margin: 0.5em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills .skill {
    font-size: 1rem;
  }
  .container .subContainer .svgContainer {
    position: absolute;
    top: 0%;
    left: 20%;
    height: auto;
    width: 160%;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 1.5rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink {
    padding: 0.25em 2em;
    font-size: 2rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink .resumeIcon {
    font-size: 2rem;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .container .subContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    width: 100%;
    margin: auto;
  }
  .container .subContainer .textContainer {
    height: auto;
    width: 65%;
    padding: 0px 1em;
    margin: auto 1em;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 7rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 2rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    height: 9em;
    width: 9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5em;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills .skill {
    font-size: 1.5rem;
  }
  .container .subContainer .svgContainer {
    position: absolute;
    top: 0%;
    left: 10%;
    height: auto;
    width: 200%;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 2.5rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink {
    padding: 0.25em 2em;
    font-size: 2.5rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlLink .resumeIcon {
    font-size: 2.5rem;
  }
}

@med;
/*# sourceMappingURL=About.css.map */