/**
*
* Testing
*
**/
.container {
  width: 100%;
  height: auto;
  background-color: var(--mainColor);
  color: var(--mainText);
  z-index: 2;
}

.container .subContainer {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.container .subContainer .textContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .subContainer .textContainer .subTitle {
  /* width: 80%; */
  font-size: 3rem;
  margin: 0.5em 0px;
  color: var(--mainText);
  font-weight: 400;
  font-family: 'Modak', cursive;
}

.container .subContainer .textContainer .subText {
  /* width: 80%; */
  font-size: 1.5rem;
  color: var(--subText);
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
}

.container .subContainer .textContainer .subText #gaLink {
  color: var(--subText);
}

.container .subContainer .textContainer .subText #gaLink:hover {
  color: var(--subText);
  color: var(--mainText);
  text-decoration: none;
}

.container .subContainer .textContainer .subText .skillContainer {
  width: 100%;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
}

.container .subContainer .textContainer .subText .skillContainer .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5vw;
  height: 5vh;
  margin: 0.25em;
  padding: 40px;
  color: var(--TertiaryText);
  background-color: var(--TertiaryTextBtn);
  border: 1px solid var(--themeContainerDotBorder);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px var(--shadow);
  box-shadow: 0 2px 2px var(--shadow);
}

.container .subContainer .textContainer .subText .skillContainer .skills .skill {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Cabin', sans-serif;
}

.container .subContainer .svgContainer {
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50px, -50px);
          transform: translateX(-50px, -50px);
}

.container .subContainer .resumeDlContainer {
  width: 100%;
  padding: 0px 1em;
  margin: 1em 0px;
}

.container .subContainer .resumeDlContainer .resumeDlText {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 20;
  font-family: 'Cabin', sans-serif;
}

.container .subContainer .resumeDlContainer .resumeDlLink {
  color: var(--TertiaryText);
  background: var(--TertiaryTextBtn);
  padding: 0.25em 0.5em;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5;
  -webkit-box-shadow: 0 4px 4px var(--shadow);
  box-shadow: 0 4px 4px var(--shadow);
  font-family: 'Cabin', sans-serif;
}

.container .subContainer .resumeDlContainer .resumeDlLink:hover {
  color: var(--TertiaryTextBtnText);
  background: var(--TertiaryTextBtnHover);
  text-decoration: none;
}

.container .subContainer .resumeDlContainer .resumeDlLink .resumeIcon {
  font-size: 1.5rem;
}

@media (min-width: 426px) and (max-width: 768px) {
  .container .subContainer {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
  }
  .container .subContainer .textContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 1.75rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 1rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    width: 6em;
    height: 6em;
  }
  .container .subContainer .svgContainer {
    height: auto;
    z-index: -1;
    -o-object-fit: contain;
       object-fit: contain;
    top: 0%;
    left: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 250%;
  }
  .container .subContainer .resumeDlContainer {
    width: 100%;
    padding: 0px;
    margin: 1em 0px;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .container .subContainer {
    width: 100%;
    max-width: 690px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
  }
  .container .subContainer .textContainer {
    width: 60%;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 2rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 1rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    width: 4em;
    height: 4em;
  }
  .container .subContainer .svgContainer {
    left: 18%;
    width: 160%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto 0px;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    object-fit: contain;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 1rem;
  }
}

@media (min-width: 1366px) {
  .container .subContainer {
    width: 100%;
    margin: auto;
  }
  .container .subContainer .textContainer {
    width: 65%;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 4.5rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 2rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    margin: 0.5em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .subContainer .svgContainer {
    top: 0%;
    position: absolute;
    width: 160%;
    height: 100%;
    top: 0%;
    left: 15%;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 1.5rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlText .resumeDlLink {
    padding: 0.25em 2em;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .container .subContainer {
    width: 100%;
    margin: auto;
  }
  .container .subContainer .textContainer {
    width: 65%;
  }
  .container .subContainer .textContainer .subTitle {
    font-size: 4.5rem;
  }
  .container .subContainer .textContainer .subText {
    font-size: 2rem;
  }
  .container .subContainer .textContainer .subText .skillContainer .skills {
    width: 6em;
    height: 6em;
    margin: 0.5em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .subContainer .svgContainer {
    top: 0%;
    position: absolute;
    width: 160%;
    height: 100%;
    top: 0%;
    left: 25%;
  }
  .container .subContainer .resumeDlContainer .resumeDlText {
    font-size: 2rem;
  }
  .container .subContainer .resumeDlContainer .resumeDlText .resumeDlLink {
    padding: 0.25em 2em;
  }
}
/*# sourceMappingURL=About.css.map */