.loader-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: auto;
	padding: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	z-index: 2000;
	.loader {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: auto;
	}
}
