@import '../../../breakpoints/breakpoints.scss';
@import '../../../mixins/mixins.scss';

.headingContainer {
	@include heightWidth(auto, 100%);
	margin: auto;
	background-color: var(--HeadingColor);
	padding: 1em 0px;
	font-family: 'Modak', cursive, 'Russo One', sans-serif;
	.headingText {
		font-size: 6rem;
		font-weight: 400;
		color: var(--mainText);
	}
	#navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0;
		li {
			font-size: 2rem;
			color: var(--mainText);
			list-style-type: none;
			transform: scale(1);
			transition: all 0.5s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
			a {
				color: var(--mainText);
				transition: all 0.5s ease-in-out;
				&:hover {
					color: var(--secondaryText);
					text-decoration: underline;
				}
			}
		}
		.navLines {
			padding: 0px 0.5em;
		}
	}

	@include media('<=phone') {
		.headingText {
			font-size: 2.5rem;
		}
		#navigation {
			li {
				font-size: 1.25rem;
				a {
					&:hover {
					}
				}
			}
			.navLines {
			}
		}
	}

	@include media('>phone', '<=425px') {
		.headingText {
			font-size: 3rem;
		}
		#navigation {
			li {
				font-size: 1.5rem;
				a {
					&:hover {
					}
				}
			}
			.navLines {
			}
		}
	}

	@include media('>425px', '<=tablet') {
		.headingText {
			font-size: 4rem;
		}
		#navigation {
			li {
				font-size: 2rem;
				a {
					&:hover {
					}
				}
			}
			.navLines {
			}
		}
	}

	@include media('>tablet', '<desktop') {
		.headingText {
			font-size: 6rem;
		}
		#navigation {
			li {
				font-size: 3rem;
				a {
					&:hover {
					}
				}
			}
			.navLines {
			}
		}
	}

	@include media('>=desktop') {
		.headingText {
			font-size: 8rem;
		}
		#navigation {
			li {
				font-size: 4rem;
				a {
					&:hover {
					}
				}
			}
			.navLines {
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.headingText {
			font-size: 10rem;
		}
		#navigation {
			li {
				font-size: 5rem;
				a {
					&:hover {
					}
				}
			}
			.navLines {
			}
		}
	}
}
