@import '../../../breakpoints/breakpoints.scss';
@import '../../../mixins/mixins.scss';

.introContainer {
	background-color: var(--secondaryColor);
	@include heightWidth(100%, 100%);
	max-width: 1400px;
	margin: 0px auto;
	padding-bottom: 1em;
	.introHeading {
		padding: 1em 0px 0.5em;
		font-size: 3rem;
		color: var(--mainText);
		font-weight: 400;
		font-family: 'Modak', cursive;
	}
	.intro-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'left-column right-column';
		.left-column {
			grid-area: left-column;
			.actionsContainer {
				height: 100%;
				.picThemeContainer {
					@include heightWidth(100%, 100%);
					.profile {
						position: relative;
						top: 0;
						left: 0;
						#profilePicture {
							@include heightWidth(100%, 100%);
							max-width: 360px;
							display: block;
							margin: 0 auto;
							border-radius: 5px;
							object-fit: cover;
							background-size: contain;
							border: 3px solid
								var(--themeContainerDotBorder);
							-moz-box-shadow: 0 4px 4px var(--shadow);
							-webkit-box-shadow: 0 4px 4px var(--shadow);
							box-shadow: 0 4px 4px var(--shadow);
						}
						#profilePicSubBox {
							@include heightWidth(100%, 100%);
							@include topLeftAbsolute(0%, 0%);
							min-width: 150px;
							max-width: 360px;
							display: block;
							margin: 0 auto;
							border-radius: 5px;
							object-fit: cover;
							background-size: contain;
							border: 3px solid
								var(--themeContainerDotBorder);
							-moz-box-shadow: 0 4px 4px var(--shadow);
							-webkit-box-shadow: 0 4px 4px var(--shadow);
							box-shadow: 0 4px 4px var(--shadow);
						}
					}
					#theme-options-wrapper {
						@include flexCenter(column, center, center);

						margin: 0px 2em;
						.personalizedText {
							text-align: center;
							line-height: 0;
							padding: 0.5rem 0px 0px;
							font-size: 1.25rem;
							font-weight: 600;
							font-family: 'Cabin', sans-serif;
						}
						.themeOptionsSubContainer {
							@include flexCenter(row, center, center);
							.theme-dot {
								@include heightWidth(30px, 30px);
								background-color: black;
								border-radius: 50%;
								margin: 5px;
								border: 2px solid var(--themeDotBorder);
								-webkit-box-shadow: -1px 1px 3px -1px var(--shadow);
								-moz-box-shadow: -1px 1px 3px -1px var(--shadow);
								box-shadow: -1px 1px 3px -1px var(--shadow);
								cursor: pointer;
								transform: scale(1);
								transition: all 0.5s ease-in-out;
								&:hover {
									transform: scale(1.1);
									border-width: 3px;
									border-color: var(--shadow);
									border-radius: 10px;
								}
							}

							#light-mode {
								background: radial-gradient(
									circle,
									rgba(255, 255, 255, 1) 0%,
									rgba(0, 0, 0, 1) 100%
								);
								background-position: center;
								background-origin: content-box;
								&:hover {
									animation: IconsAnimationB 10s linear
										infinite alternate;
								}
							}
							#black-mode {
								background: radial-gradient(
									circle,
									rgba(0, 0, 0, 1) 0%,
									rgba(255, 255, 255, 1) 100%
								);
								background-position: center;
								background-origin: content-box;
								&:hover {
									animation: IconsAnimationB 10s linear
										infinite alternate;
								}
							}

							#fire-mode {
								background: url('../../../images/fireworksSmall.gif');
								background-color: black;
								background-position: center;
								background-origin: content-box;
								background-repeat: no-repeat;
								background-size: 140px 140px;
								animation: fireworkAnimation 6s alternate;
								animation-timing-function: linear;
								animation-iteration-count: infinite;
								&:hover {
									animation: IconsAnimationA 10s linear
										infinite alternate;
								}
							}

							#wave-mode {
								background: url('../../../images/backgroundWavesMini.png');
								background-color: white;
								background-position: bottom right;
								background-origin: content-box;
								background-repeat: no-repeat;
								background-size: 100px 20px;
								animation: wavesIconAnimation 5s alternate;
								animation-timing-function: linear;
								animation-iteration-count: infinite;
								&:hover {
									animation: IconsAnimationA 10s linear
										infinite alternate;
								}
							}

							#red-mode {
								background: radial-gradient(
									circle,
									rgba(255, 0, 0, 1) 0%,
									rgba(255, 255, 255, 1) 100%
								);
								background-position: center;
								background-origin: content-box;
								&:hover {
									animation: IconsAnimationB 10s linear
										infinite alternate;
								}
							}
							#green-mode {
								background: radial-gradient(
									circle,
									rgba(1, 133, 10, 1) 0%,
									rgba(255, 255, 255, 0) 100%
								);
								background-position: center;
								background-origin: content-box;
								&:hover {
									animation: IconsAnimationB 10s linear
										infinite alternate;
								}
							}
							#blue-mode {
								background: radial-gradient(
									circle,
									rgba(0, 62, 255, 1) 0%,
									rgba(255, 255, 255, 0) 100%
								);
								background-position: center;
								background-origin: content-box;
								&:hover {
									animation: IconsAnimationB 10s linear
										infinite alternate;
								}
							}
						}
					}
				}
				.ctaBtn {
					@include flexCenter(row, center, center);
					margin: 1em 0px;
					font-weight: 600;
					font-size: 1.5rem;
					font-family: 'Cabin', sans-serif;
					.headingBtnContainer {
						padding: 1em 0px 0em;
						transform: scale(1);
						transition: transform 0.5s ease-in-out;
						&:hover {
							transform: scale(1.05);
						}
						.headingBtn {
							font-size: 1.5rem;
							font-weight: bold;
							font-family: 'Cabin', sans-serif;
							color: var(--TertiaryText);
							background: var(--TertiaryTextBtn);
							padding: 0.25em 1em;
							margin: 0px 1em;
							border-radius: 50px;
							-moz-box-shadow: 0 4px 4px var(--shadow);
							-webkit-box-shadow: 0 4px 4px var(--shadow);
							box-shadow: 0 4px 4px var(--shadow);
							transition: all 0.5s ease-in-out;
							&:hover {
								color: var(--TertiaryTextBtnText);
								background: var(--TertiaryTextBtnHover);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.right-column {
			grid-area: right-column;
			display: grid;
			align-content: center;
			height: 40vh;
			padding: 50px 0px;
			margin: auto;
			.rightContainer {
				position: relative;
				overflow: visible;
				@include heightWidth(auto, 100%);
				.computerGuySvgContainer {
					overflow: visible;
					margin: auto;
					#computerGuy {
					}
					@include heightWidth(auto, 50%);
					min-width: 400px;
					max-width: 20vw;
					object-fit: contain;
				}
				#introTextContainer {
					@include heightWidth(auto, 85%);
					margin: auto;
					border: 1.5px solid var(--themeContainerDotBorder);
					color: var(--textBoxText);
					background-color: var(--previewBg);
					padding: 15px;
					@include topLeftAbsolute(50%, 50%);
					transform: translate(-50%, -50%);
					margin: 1.5em auto;

					.boxTitle {
						font-size: 2rem;
						margin-bottom: 1em;
						color: var(--textBoxTextTitle);
						text-decoration: underline;
						font-weight: 600;
						font-family: 'Cabin', sans-serif;
					}

					.boxText {
						font-size: 1.5rem;
						color: var(--textBoxText);
						font-weight: 600;
						font-family: 'Cabin', sans-serif;
					}
					.corner {
						@include heightWidth(7px, 7px);
						border-radius: 50%;
						border: 1.5px solid
							var(--themeContainerDotBorder);
						background-color: #fff;
						position: absolute;
					}

					#corner-tl {
						top: -5px;
						left: -5px;
					}

					#corner-tr {
						top: -5px;
						right: -5px;
					}

					#corner-br {
						bottom: -5px;
						right: -5px;
					}

					#corner-bl {
						bottom: -5px;
						left: -5px;
					}
				}
			}
		}
	}

	@include media('<=phone') {
		margin: 0px auto;
		.introHeading {
			font-size: 1.75rem;
			padding: 1em 0px 0px;
		}
		.intro-wrapper {
			grid-template-columns: 1fr;
			grid-template-areas:
				'left-column'
				'right-column';
			.left-column {
				z-index: 2;
				.actionsContainer {
					@include heightWidth(100%, 100%);
					display: block;
					.picThemeContainer {
						display: block;
						.profile {
							#profilePicture {
								@include heightWidth(auto, 70vw);
							}
							#profilePicSubBox {
								@include heightWidth(auto, 70vw);
								@include topLeftAbsolute(0%, 50%);
								transform: translate(-50%, 0);
							}
						}
						#theme-options-wrapper {
							.personalizedText {
								font-size: 1.5rem;
								margin: 1em 0px;
							}
							.themeOptionsSubContainer {
								.theme-dot {
									@include heightWidth(50px, 50px);
									&:hover {
									}
								}

								#light-mode {
									&:hover {
									}
								}
								#black-mode {
									&:hover {
									}
								}

								#fire-mode {
									&:hover {
									}
								}

								#wave-mode {
									&:hover {
									}
								}

								#red-mode {
									&:hover {
									}
								}
								#green-mode {
									&:hover {
									}
								}
								#blue-mode {
									&:hover {
									}
								}
							}
						}
					}
					.ctaBtn {
						margin: 0px;
						@include flexCenter(column, center, center);
						@include heightWidth(auto, 100%);
						.headingBtnContainer {
							@include heightWidth(auto, 100%);
							margin: 0px 0px 0.5em;
							.headingBtn {
								@include heightWidth(auto, 100%);
								font-size: 1.5rem;
								&:hover {
								}
							}
						}
					}
				}
			}
			.right-column {
				justify-content: center;
				padding: 1em 0px;
				@include heightWidth(auto, 100vw);
				z-index: 1;
				.rightContainer {
					@include heightWidth(auto, 100%);
					.computerGuySvgContainer {
						@include heightWidth(auto, 100%);
						min-width: 95vw;
					}
					#introTextContainer {
						@include heightWidth(auto, 100%);
						min-width: 200px;
						.boxTitle {
							font-size: 1.5rem;
						}
						.boxText {
							font-size: 1rem;
						}
						.corner {
						}

						#corner-tl {
						}

						#corner-tr {
						}

						#corner-br {
						}

						#corner-bl {
						}
					}
				}
			}
		}
	}

	@include media('>phone', '<=425px') {
		.introHeading {
			font-size: 2.25rem;
			padding: 0.5em 0px 0px;
			margin: 0px;
		}
		.intro-wrapper {
			grid-template-columns: 1fr;
			grid-template-areas:
				'left-column'
				'right-column';
			.left-column {
				z-index: 2;
				.actionsContainer {
					@include heightWidth(100%, 100%);
					display: block;
					.picThemeContainer {
						display: block;
						.profile {
							#profilePicture {
								@include heightWidth(auto, 70vw);
							}
							#profilePicSubBox {
								@include heightWidth(auto, 70vw);
								@include topLeftAbsolute(0%, 50%);
								transform: translate(-50%, 0);
							}
						}
						#theme-options-wrapper {
							.personalizedText {
								font-size: 1.5rem;
								margin: 1em 0px;
							}
							.themeOptionsSubContainer {
								.theme-dot {
									@include heightWidth(50px, 50px);
									&:hover {
									}
								}

								#light-mode {
									&:hover {
									}
								}
								#black-mode {
									&:hover {
									}
								}

								#fire-mode {
									&:hover {
									}
								}

								#wave-mode {
									&:hover {
									}
								}

								#red-mode {
									&:hover {
									}
								}
								#green-mode {
									&:hover {
									}
								}
								#blue-mode {
									&:hover {
									}
								}
							}
						}
					}
					.ctaBtn {
						@include flexCenter(row, center, center);
						@include heightWidth(auto, 100%);
						margin: 0 auto;
						padding: 0;
						.headingBtnContainer {
							@include heightWidth(auto, 100%);
							.headingBtn {
								@include heightWidth(auto, 100%);
								font-size: 1.25rem;
								&:hover {
								}
							}
						}
					}
				}
			}
			.right-column {
				justify-content: center;
				padding: 1em 0px;
				@include heightWidth(auto, 100vw);
				z-index: 1;
				.rightContainer {
					@include heightWidth(auto, 100%);
					.computerGuySvgContainer {
						@include heightWidth(auto, 100%);
						min-width: 95vw;
						#computerGuy {
						}
					}
					#introTextContainer {
						@include heightWidth(auto, 100%);
						min-width: 200px;
						.boxTitle {
							font-size: 1.5rem;
						}
						.boxText {
							font-size: 1rem;
						}
						.corner {
						}

						#corner-tl {
						}

						#corner-tr {
						}

						#corner-br {
						}

						#corner-bl {
						}
					}
				}
			}
		}
	}

	@include media('>425px', '<=tablet') {
		margin: 0px auto 3em;
		.introHeading {
			font-size: 2.5rem;
			margin: 0px;
			padding: 0.5em 0px 0px;
		}
		.intro-wrapper {
			grid-template-columns: 1fr;
			grid-template-areas:
				'left-column'
				'right-column';
			.left-column {
				z-index: 2;
				.actionsContainer {
					@include heightWidth(100%, 100%);
					display: block;
					.picThemeContainer {
						display: block;
						.profile {
							#profilePicture {
								@include heightWidth(auto, 70vw);
							}
							#profilePicSubBox {
								@include heightWidth(auto, 70vw);
								@include topLeftAbsolute(0%, 50%);
								transform: translate(-50%, 0);
							}
						}
						#theme-options-wrapper {
							.personalizedText {
								font-size: 1.5rem;
								margin: 1em 0px;
							}
							.themeOptionsSubContainer {
								.theme-dot {
									@include heightWidth(50px, 50px);
									&:hover {
									}
								}

								#light-mode {
									&:hover {
									}
								}
								#black-mode {
									&:hover {
									}
								}

								#fire-mode {
									&:hover {
									}
								}

								#wave-mode {
									&:hover {
									}
								}

								#red-mode {
									&:hover {
									}
								}
								#green-mode {
									&:hover {
									}
								}
								#blue-mode {
									&:hover {
									}
								}
							}
						}
					}
					.ctaBtn {
						margin: 0.5em 0px;
						@include flexCenter(row, center, center);
						.headingBtnContainer {
							.headingBtn {
								font-size: 1.5rem;
								&:hover {
								}
							}
						}
					}
				}
			}
			.right-column {
				margin: 3em 0px 0px;
				justify-content: center;
				padding: 1em 0px;
				@include heightWidth(auto, 100vw);
				z-index: 1;
				.rightContainer {
					@include heightWidth(auto, 100%);
					.computerGuySvgContainer {
						@include heightWidth(auto, 100%);
						min-width: 80vw;
					}
					#introTextContainer {
						@include heightWidth(auto, 100%);
						min-width: 200px;
						.boxTitle {
							font-size: 2.5rem;
						}
						.boxText {
							font-size: 2rem;
						}
						.corner {
						}

						#corner-tl {
						}

						#corner-tr {
						}

						#corner-br {
						}

						#corner-bl {
						}
					}
				}
			}
		}
	}

	@include media('>tablet', '<desktop') {
		margin: 0px;
		.introHeading {
			font-size: 4rem;
			margin: 0.5em 0px 0px;
			padding: 0px;
		}
		.intro-wrapper {
			.left-column {
				height: 100%;
				margin: 0px;
				.actionsContainer {
					@include heightWidth(100%, 100%);
					@include flexCenter(column, center, center);
					margin: auto 2em;
					.picThemeContainer {
						@include flexCenter(row, center, center);
						.profile {
							#profilePicture {
								@include heightWidth(auto, 100%);
								max-width: 24vw;
							}
							#profilePicSubBox {
							}
						}
						#theme-options-wrapper {
							.personalizedText {
								font-size: 1.5rem;
								color: var(--subText);
								margin: 1em 0px;
							}
							.themeOptionsSubContainer {
								.theme-dot {
									@include heightWidth(50px, 50px);
									&:hover {
									}
								}

								#light-mode {
									&:hover {
									}
								}
								#black-mode {
									&:hover {
									}
								}

								#fire-mode {
									&:hover {
									}
								}

								#wave-mode {
									&:hover {
									}
								}

								#red-mode {
									&:hover {
									}
								}
								#green-mode {
									&:hover {
									}
								}
								#blue-mode {
									&:hover {
									}
								}
							}
						}
					}
					.ctaBtn {
						@include heightWidth(auto, 100%);
						.headingBtnContainer {
							@include heightWidth(auto, 100%);
							min-width: 16vw;
							.headingBtn {
								@include heightWidth(auto, 100%);
								margin: 0px;
								font-size: 1.75rem;
								&:hover {
								}
							}
						}
					}
				}
			}
			.right-column {
				margin: 0px;
				.rightContainer {
					margin: 0px;
					@include heightWidth(auto, 100%);
					.computerGuySvgContainer {
						@include heightWidth(auto, auto);
						min-width: 40vw;
						#computerGuy {
						}
					}
					#introTextContainer {
						min-width: 300px;
						max-width: 400px;
						.boxTitle {
							font-size: 2rem;
						}

						.boxText {
							font-size: 1.5rem;
						}
						.corner {
						}

						#corner-tl {
						}

						#corner-tr {
						}

						#corner-br {
						}

						#corner-bl {
						}
					}
				}
			}
		}
	}

	@include media('>=desktop') {
		.introHeading {
			font-size: 4.5rem;
			margin: 0.25em 0px;
			padding: 0px;
		}
		.intro-wrapper {
			margin: 0px 0px 2em;
			.left-column {
				.actionsContainer {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
					margin: auto 2em;
					.picThemeContainer {
						@include flexCenter(row, center, center);
						margin: 0px auto;
						padding: 0px 1.5em;
						.profile {
							#profilePicture {
								@include heightWidth(auto, 100%);
								max-width: 360px;
							}
							#profilePicSubBox {
							}
						}
						#theme-options-wrapper {
							.personalizedText {
								margin: 1em 0px;
								font-size: 2rem;
								color: var(--subText);
							}
							.themeOptionsSubContainer {
								.theme-dot {
									@include heightWidth(50px, 50px);
									&:hover {
									}
								}

								#light-mode {
									&:hover {
									}
								}
								#black-mode {
									&:hover {
									}
								}

								#fire-mode {
									&:hover {
									}
								}

								#wave-mode {
									&:hover {
									}
								}

								#red-mode {
									&:hover {
									}
								}
								#green-mode {
									&:hover {
									}
								}
								#blue-mode {
									&:hover {
									}
								}
							}
						}
					}
					.ctaBtn {
						@include heightWidth(auto, 100%);
						margin: 1em 0px;
						.headingBtnContainer {
							@include heightWidth(auto, 100%);
							min-width: 16vw;
							.headingBtn {
								@include heightWidth(auto, 100%);
								margin: 0px;
								font-size: 2rem;
								&:hover {
								}
							}
						}
					}
				}
			}
			.right-column {
				.rightContainer {
					@include heightWidth(auto, 100%);
					.computerGuySvgContainer {
						@include heightWidth(auto, 100vw);
						min-width: 38vw;
						#computerGuy {
						}
					}
					#introTextContainer {
						min-width: 500px;
						.boxTitle {
							font-size: 1.5rem;
						}

						.boxText {
							font-size: 1rem;
						}
						.corner {
						}

						#corner-tl {
						}

						#corner-tr {
						}

						#corner-br {
						}

						#corner-bl {
						}
					}
				}
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.introHeading {
			font-size: 7rem;
			margin: 0.25em 0px;
			padding: 0px;
		}
		.intro-wrapper {
			margin: 0px 0px 2em;
			.left-column {
				.actionsContainer {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
					margin: auto 2em;
					.picThemeContainer {
						@include flexCenter(row, center, center);
						margin: 0px auto;
						padding: 0px 1.5em;
						.profile {
							#profilePicture {
								@include heightWidth(auto, 100%);
								max-width: 400px;
							}
							#profilePicSubBox {
							}
						}
						#theme-options-wrapper {
							.personalizedText {
								margin: 1em 0px;
								font-size: 2rem;
								color: var(--subText);
							}
							.themeOptionsSubContainer {
								.theme-dot {
									@include heightWidth(70px, 70px);
									&:hover {
									}
								}

								#light-mode {
									&:hover {
									}
								}
								#black-mode {
									&:hover {
									}
								}

								#fire-mode {
									&:hover {
									}
								}

								#wave-mode {
									&:hover {
									}
								}

								#red-mode {
									&:hover {
									}
								}

								#green-mode {
									&:hover {
									}
								}

								#blue-mode {
									&:hover {
									}
								}
							}
						}
					}
					.ctaBtn {
						@include heightWidth(auto, 100%);
						margin: 1em 0px;
						.headingBtnContainer {
							@include heightWidth(auto, 100%);
							min-width: 16vw;
							.headingBtn {
								@include heightWidth(auto, 100%);
								margin: 0px;
								font-size: 2.5rem;
								&:hover {
								}
							}
						}
					}
				}
			}
			.right-column {
				.rightContainer {
					@include heightWidth(auto, 100%);
					.computerGuySvgContainer {
						@include heightWidth(auto, 100vw);
						min-width: 30vw;
						#computerGuy {
						}
					}
					#introTextContainer {
						min-width: 500px;
						.boxTitle {
							font-size: 2.5rem;
						}

						.boxText {
							font-size: 2rem;
						}
						.corner {
						}

						#corner-tl {
						}

						#corner-tr {
						}

						#corner-br {
						}

						#corner-bl {
						}
					}
				}
			}
		}
	}
}

// Animations
@keyframes fireworkAnimation {
	0% {
		background-position: top right;
	}
	100% {
		background-position: top left;
	}
}

@keyframes wavesIconAnimation {
	0% {
		background-position: bottom right;
		background-size: 100px 20px;
	}
	100% {
		background-position: bottom left;
		background-size: 100px 20px;
	}
}

@keyframes IconsAnimationA {
	0% {
		background-size: 80px 80px;
		background-position: center;
	}
	100% {
		background-size: 100px 100px;
		background-position: center;
	}
}

@keyframes IconsAnimationB {
	0% {
		background-size: 25px 25px;
	}
	100% {
		background-size: 100px 100px;
	}
}
// ^^^^^^
