/**
*
* Testing
*
**/
.introContainer {
  background-color: var(--secondaryColor);
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  padding-bottom: 1em;
}

.introContainer .introHeading {
  padding: 1em 0px 0.5em;
  font-size: 3rem;
  color: var(--mainText);
  font-weight: 400;
  font-family: 'Modak', cursive;
}

.introContainer .intro-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'left-column right-column';
}

.introContainer .intro-wrapper .left-column {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-column;
}

.introContainer .intro-wrapper .left-column .actionsContainer {
  height: 100%;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer {
  height: 100%;
  width: 100%;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile {
  position: relative;
  top: 0;
  left: 0;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicture {
  height: 100%;
  width: 100%;
  max-width: 360px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  border: 3px solid var(--themeContainerDotBorder);
  -webkit-box-shadow: 0 4px 4px var(--shadow);
  box-shadow: 0 4px 4px var(--shadow);
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicSubBox {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 150px;
  max-width: 360px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  border: 3px solid var(--themeContainerDotBorder);
  -webkit-box-shadow: 0 4px 4px var(--shadow);
  box-shadow: 0 4px 4px var(--shadow);
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 2em;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .personalizedText {
  text-align: center;
  line-height: 0;
  padding: 0.5rem 0px 0px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  -webkit-box-shadow: -1px 1px 3px -1px var(--shadow);
  box-shadow: -1px 1px 3px -1px var(--shadow);
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-width: 3px;
  border-color: var(--shadow);
  border-radius: 10px;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #light-mode {
  background: radial-gradient(circle, white 0%, black 100%);
  background-position: center;
  background-origin: content-box;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #light-mode:hover {
  -webkit-animation: IconsAnimationB 10s linear infinite alternate;
          animation: IconsAnimationB 10s linear infinite alternate;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #black-mode {
  background: radial-gradient(circle, black 0%, white 100%);
  background-position: center;
  background-origin: content-box;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #black-mode:hover {
  -webkit-animation: IconsAnimationB 10s linear infinite alternate;
          animation: IconsAnimationB 10s linear infinite alternate;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #fire-mode {
  background: url("../../../images/fireworksSmall.gif");
  background-color: black;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 140px 140px;
  -webkit-animation: fireworkAnimation 6s alternate;
          animation: fireworkAnimation 6s alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #fire-mode:hover {
  -webkit-animation: IconsAnimationA 10s linear infinite alternate;
          animation: IconsAnimationA 10s linear infinite alternate;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #wave-mode {
  background: url("../../../images/backgroundWavesMini.png");
  background-color: white;
  background-position: bottom right;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 100px 20px;
  -webkit-animation: wavesIconAnimation 5s alternate;
          animation: wavesIconAnimation 5s alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #wave-mode:hover {
  -webkit-animation: IconsAnimationA 10s linear infinite alternate;
          animation: IconsAnimationA 10s linear infinite alternate;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #red-mode {
  background: radial-gradient(circle, red 0%, white 100%);
  background-position: center;
  background-origin: content-box;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #red-mode:hover {
  -webkit-animation: IconsAnimationB 10s linear infinite alternate;
          animation: IconsAnimationB 10s linear infinite alternate;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #green-mode {
  background: radial-gradient(circle, #01850a 0%, rgba(255, 255, 255, 0) 100%);
  background-position: center;
  background-origin: content-box;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #green-mode:hover {
  -webkit-animation: IconsAnimationB 10s linear infinite alternate;
          animation: IconsAnimationB 10s linear infinite alternate;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #blue-mode {
  background: radial-gradient(circle, #003eff 0%, rgba(255, 255, 255, 0) 100%);
  background-position: center;
  background-origin: content-box;
}

.introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer #blue-mode:hover {
  -webkit-animation: IconsAnimationB 10s linear infinite alternate;
          animation: IconsAnimationB 10s linear infinite alternate;
}

.introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0px;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Cabin', sans-serif;
}

.introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer {
  padding: 1em 0px 0em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
  color: var(--TertiaryText);
  background: var(--TertiaryTextBtn);
  padding: 0.25em 1em;
  margin: 0px 1em;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 4px var(--shadow);
  box-shadow: 0 4px 4px var(--shadow);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn:hover {
  color: var(--TertiaryTextBtnText);
  background: var(--TertiaryTextBtnHover);
  text-decoration: none;
}

.introContainer .intro-wrapper .right-column {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right-column;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 40vh;
  padding: 50px 0px;
  margin: auto;
}

.introContainer .intro-wrapper .right-column .rightContainer {
  position: relative;
  overflow: visible;
  height: auto;
  width: 100%;
}

.introContainer .intro-wrapper .right-column .rightContainer .computerGuySvgContainer {
  overflow: visible;
  margin: auto;
  height: auto;
  width: 50%;
  min-width: 400px;
  max-width: 20vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer {
  height: auto;
  width: 85%;
  margin: auto;
  border: 1.5px solid var(--themeContainerDotBorder);
  color: var(--textBoxText);
  background-color: var(--previewBg);
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 1.5em auto;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxTitle {
  font-size: 2rem;
  margin-bottom: 1em;
  color: var(--textBoxTextTitle);
  text-decoration: underline;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxText {
  font-size: 1.5rem;
  color: var(--textBoxText);
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .corner {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1.5px solid var(--themeContainerDotBorder);
  background-color: #fff;
  position: absolute;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer #corner-tl {
  top: -5px;
  left: -5px;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer #corner-tr {
  top: -5px;
  right: -5px;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer #corner-br {
  bottom: -5px;
  right: -5px;
}

.introContainer .intro-wrapper .right-column .rightContainer #introTextContainer #corner-bl {
  bottom: -5px;
  left: -5px;
}

@media (max-width: 360px) {
  .introContainer {
    margin: 0px auto;
  }
  .introContainer .introHeading {
    font-size: 1.75rem;
    padding: 1em 0px 0px;
  }
  .introContainer .intro-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'left-column' 'right-column';
  }
  .introContainer .intro-wrapper .left-column {
    z-index: 2;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer {
    height: 100%;
    width: 100%;
    display: block;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer {
    display: block;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicture {
    height: auto;
    width: 70vw;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicSubBox {
    height: auto;
    width: 70vw;
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .personalizedText {
    font-size: 1.5rem;
    margin: 1em 0px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot {
    height: 50px;
    width: 50px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer {
    height: auto;
    width: 100%;
    margin: 0px 0px 0.5em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn {
    height: auto;
    width: 100%;
    font-size: 1.5rem;
  }
  .introContainer .intro-wrapper .right-column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em 0px;
    height: auto;
    width: 100vw;
    z-index: 1;
  }
  .introContainer .intro-wrapper .right-column .rightContainer {
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .right-column .rightContainer .computerGuySvgContainer {
    height: auto;
    width: 100%;
    min-width: 95vw;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer {
    height: auto;
    width: 100%;
    min-width: 200px;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxTitle {
    font-size: 1.5rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxText {
    font-size: 1rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .introContainer .introHeading {
    font-size: 2.25rem;
    padding: 0.5em 0px 0px;
    margin: 0px;
  }
  .introContainer .intro-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'left-column' 'right-column';
  }
  .introContainer .intro-wrapper .left-column {
    z-index: 2;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer {
    height: 100%;
    width: 100%;
    display: block;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer {
    display: block;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicture {
    height: auto;
    width: 70vw;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicSubBox {
    height: auto;
    width: 70vw;
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .personalizedText {
    font-size: 1.5rem;
    margin: 1em 0px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot {
    height: 50px;
    width: 50px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer {
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn {
    height: auto;
    width: 100%;
    font-size: 1.25rem;
  }
  .introContainer .intro-wrapper .right-column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em 0px;
    height: auto;
    width: 100vw;
    z-index: 1;
  }
  .introContainer .intro-wrapper .right-column .rightContainer {
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .right-column .rightContainer .computerGuySvgContainer {
    height: auto;
    width: 100%;
    min-width: 95vw;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer {
    height: auto;
    width: 100%;
    min-width: 200px;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxTitle {
    font-size: 1.5rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxText {
    font-size: 1rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .introContainer {
    margin: 0px auto 3em;
  }
  .introContainer .introHeading {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0.5em 0px 0px;
  }
  .introContainer .intro-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'left-column' 'right-column';
  }
  .introContainer .intro-wrapper .left-column {
    z-index: 2;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer {
    height: 100%;
    width: 100%;
    display: block;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer {
    display: block;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicture {
    height: auto;
    width: 70vw;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicSubBox {
    height: auto;
    width: 70vw;
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .personalizedText {
    font-size: 1.5rem;
    margin: 1em 0px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot {
    height: 50px;
    width: 50px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn {
    margin: 0.5em 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn {
    font-size: 1.5rem;
  }
  .introContainer .intro-wrapper .right-column {
    margin: 3em 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em 0px;
    height: auto;
    width: 100vw;
    z-index: 1;
  }
  .introContainer .intro-wrapper .right-column .rightContainer {
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .right-column .rightContainer .computerGuySvgContainer {
    height: auto;
    width: 100%;
    min-width: 80vw;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer {
    height: auto;
    width: 100%;
    min-width: 200px;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxTitle {
    font-size: 2.5rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxText {
    font-size: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .introContainer {
    margin: 0px;
  }
  .introContainer .introHeading {
    font-size: 4rem;
    margin: 0.5em 0px 0px;
    padding: 0px;
  }
  .introContainer .intro-wrapper .left-column {
    height: 100%;
    margin: 0px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto 2em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicture {
    height: auto;
    width: 100%;
    max-width: 24vw;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .personalizedText {
    font-size: 1.5rem;
    color: var(--subText);
    margin: 1em 0px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot {
    height: 50px;
    width: 50px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn {
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer {
    height: auto;
    width: 100%;
    min-width: 16vw;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn {
    height: auto;
    width: 100%;
    margin: 0px;
    font-size: 1.75rem;
  }
  .introContainer .intro-wrapper .right-column {
    margin: 0px;
  }
  .introContainer .intro-wrapper .right-column .rightContainer {
    margin: 0px;
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .right-column .rightContainer .computerGuySvgContainer {
    height: auto;
    width: auto;
    min-width: 40vw;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer {
    min-width: 300px;
    max-width: 400px;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxTitle {
    font-size: 2rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxText {
    font-size: 1.5rem;
  }
}

@media (min-width: 1366px) {
  .introContainer .introHeading {
    font-size: 4.5rem;
    margin: 0.25em 0px;
    padding: 0px;
  }
  .introContainer .intro-wrapper {
    margin: 0px 0px 2em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    margin: auto 2em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
    padding: 0px 1.5em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicture {
    height: auto;
    width: 100%;
    max-width: 360px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .personalizedText {
    margin: 1em 0px;
    font-size: 2rem;
    color: var(--subText);
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot {
    height: 50px;
    width: 50px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn {
    height: auto;
    width: 100%;
    margin: 1em 0px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer {
    height: auto;
    width: 100%;
    min-width: 16vw;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn {
    height: auto;
    width: 100%;
    margin: 0px;
    font-size: 2rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer {
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .right-column .rightContainer .computerGuySvgContainer {
    height: auto;
    width: 100vw;
    min-width: 38vw;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer {
    min-width: 500px;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxTitle {
    font-size: 1.5rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxText {
    font-size: 1rem;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .introContainer .introHeading {
    font-size: 7rem;
    margin: 0.25em 0px;
    padding: 0px;
  }
  .introContainer .intro-wrapper {
    margin: 0px 0px 2em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    margin: auto 2em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
    padding: 0px 1.5em;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer .profile #profilePicture {
    height: auto;
    width: 100%;
    max-width: 400px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .personalizedText {
    margin: 1em 0px;
    font-size: 2rem;
    color: var(--subText);
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .picThemeContainer #theme-options-wrapper .themeOptionsSubContainer .theme-dot {
    height: 70px;
    width: 70px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn {
    height: auto;
    width: 100%;
    margin: 1em 0px;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer {
    height: auto;
    width: 100%;
    min-width: 16vw;
  }
  .introContainer .intro-wrapper .left-column .actionsContainer .ctaBtn .headingBtnContainer .headingBtn {
    height: auto;
    width: 100%;
    margin: 0px;
    font-size: 2.5rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer {
    height: auto;
    width: 100%;
  }
  .introContainer .intro-wrapper .right-column .rightContainer .computerGuySvgContainer {
    height: auto;
    width: 100vw;
    min-width: 30vw;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer {
    min-width: 500px;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxTitle {
    font-size: 2.5rem;
  }
  .introContainer .intro-wrapper .right-column .rightContainer #introTextContainer .boxText {
    font-size: 2rem;
  }
}

@-webkit-keyframes fireworkAnimation {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes fireworkAnimation {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@-webkit-keyframes wavesIconAnimation {
  0% {
    background-position: bottom right;
    background-size: 100px 20px;
  }
  100% {
    background-position: bottom left;
    background-size: 100px 20px;
  }
}

@keyframes wavesIconAnimation {
  0% {
    background-position: bottom right;
    background-size: 100px 20px;
  }
  100% {
    background-position: bottom left;
    background-size: 100px 20px;
  }
}

@-webkit-keyframes IconsAnimationA {
  0% {
    background-size: 80px 80px;
    background-position: center;
  }
  100% {
    background-size: 100px 100px;
    background-position: center;
  }
}

@keyframes IconsAnimationA {
  0% {
    background-size: 80px 80px;
    background-position: center;
  }
  100% {
    background-size: 100px 100px;
    background-position: center;
  }
}

@-webkit-keyframes IconsAnimationB {
  0% {
    background-size: 25px 25px;
  }
  100% {
    background-size: 100px 100px;
  }
}

@keyframes IconsAnimationB {
  0% {
    background-size: 25px 25px;
  }
  100% {
    background-size: 100px 100px;
  }
}
/*# sourceMappingURL=Helloworld.css.map */