.main-container {
    width: 100%;
    margin: 0px auto;
}


.side1 {
    background-color: var(--mainColor);
    overflow: auto;
}
  
.side2 {
    background-color: var(--secondaryColor);
    overflow: auto;
}
  
@media screen and (max-width: 1200px) {
    .main-container {
        width: 100%;
    }
}