.introContainer {
	background-color: var(--secondaryColor);
	width: 100%;
	max-width: 1400px;
	height: 100%;
	margin: 0px auto;
}

.intro-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'left-column right-column';
}

.introHeading {
	padding: 1em 0px 0.5em;
	font-size: 3rem;
	color: var(--mainText);
	font-weight: 600;
}

.personalizedText {
	padding: 0.5rem 0px 0px;
	font-size: 1.25rem;
	font-weight: 600;
}

.boxTitle {
	font-size: 2rem;
	margin-bottom: 1em;
	color: var(--secondaryText);
	text-decoration: underline;
	font-weight: 600;
}

.boxText {
	font-size: 1.5rem;
	color: var(--secondaryText);
	font-weight: 600;
}

.left-column {
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}

.left-column h5 {
	text-align: center;
	line-height: 0;
}

#profilePicture {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	object-fit: cover;
	border: 3px solid var(--themeContainerDotBorder);
	-moz-box-shadow: 0 4px 4px var(--shadow);
	-webkit-box-shadow: 0 4px 4px var(--shadow);
	box-shadow: 0 4px 4px var(--shadow);
}

#theme-options-wrapper {
	display: flex;
	justify-content: center;
	margin: 0px 2em;
}

.theme-dot {
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
	margin: 5px;
	border: 2px solid var(--themeDotBorder);
	-webkit-box-shadow: -1px 1px 3px -1px var(--shadow);
	-moz-box-shadow: -1px 1px 3px -1px var(--shadow);
	box-shadow: -1px 1px 3px -1px var(--shadow);
	cursor: pointer;
}

.theme-dot:hover {
	border-width: 5px;
}

#light-mode {
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	background-position: center;
	background-origin: content-box;
}
#black-mode {
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	background-position: center;
	background-origin: content-box;
}

#fire-mode {
	background: url('../../images/fireworks.gif');
	background-color: black;
	background-position: center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 140px 140px;
	animation: fireworkAnimation 6s alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes fireworkAnimation {
	0% {
		background-position: top right;
	}
	100% {
		background-position: top left;
	}
}

#wave-mode {
	background: url('../../images/backgroundWavesMini.png');
	background-color: white;
	background-position: bottom right;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 100px 20px;
	animation: wavesIconAnimation 5s alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes wavesIconAnimation {
	0% {
		background-position: bottom right;
		background-size: 100px 20px;
	}
	100% {
		background-position: bottom left;
		background-size: 100px 20px;
	}
}

#red-mode {
	background: radial-gradient(
		circle,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	background-position: center;
	background-origin: content-box;
}
#green-mode {
	background: radial-gradient(
		circle,
		rgba(1, 133, 10, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	background-position: center;
	background-origin: content-box;
}
#blue-mode {
	background: radial-gradient(
		circle,
		rgba(0, 62, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	background-position: center;
	background-origin: content-box;
}

#wave-mode:hover,
#fire-mode:hover {
	animation: IconsAnimationA 10s linear infinite alternate;
}

@keyframes IconsAnimationA {
	0% {
		background-size: 80px 80px;
		background-position: center;
	}
	100% {
		background-size: 100px 100px;
		background-position: center;
	}
}

#light-mode:hover,
#black-mode:hover,
#red-mode:hover,
#green-mode:hover,
#blue-mode:hover {
	animation: IconsAnimationB 10s linear infinite alternate;
}

@keyframes IconsAnimationB {
	0% {
		background-size: 25px 25px;
	}
	100% {
		background-size: 100px 100px;
	}
}

.right-column {
	grid-area: right-column;
	display: grid;
	align-content: center;
	height: 40vh;
	padding: 50px 0px;
	margin: auto;
}

.rightContainer {
	position: relative;
	overflow: visible;
	height: auto;
	width: 100%;
}

.computerGuySvgContainer {
	overflow: visible;
	margin: auto;
	height: auto;
	width: 50%;
	min-width: 400px;
	max-width: 20vw;
	object-fit: contain;
}

#introTextContainer {
	width: 85%;
	margin: auto;
	border: 1.5px solid var(--themeContainerDotBorder);
	color: var(--mainText);
	background-color: var(--previewBg);
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 1.5em auto;
}

.corner {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1.5px solid var(--themeContainerDotBorder);
	background-color: #fff;
	position: absolute;
}

#corner-tl {
	top: -5px;
	left: -5px;
}

#corner-tr {
	top: -5px;
	right: -5px;
}

#corner-br {
	bottom: -5px;
	right: -5px;
}

#corner-bl {
	bottom: -5px;
	left: -5px;
}

.ctaBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em 0px;
	font-weight: 600;
	font-size: 1.5rem;
}

.btnLinkedIn,
.btnGitHub {
	margin: 0px 1em;
	padding: 0.25em 1em;
	border-radius: 50px;
	color: var(--shadow);
	border: 2px solid var(--TertiaryTextBtn);
	background-color: var(--secondaryColor);
	-moz-box-shadow: 0 2px 2px var(--shadow);
	-webkit-box-shadow: 0 2px 2px var(--shadow);
	box-shadow: 0 2px 2px var(--shadow);
}

.btnLinkedIn {
	border: 2px solid transparent;
}

.btnLinkedIn:hover,
.btnGitHub:hover {
	color: var(--shadow);
	border: 2px solid var(--themeContainerDotBorder);
	background-color: var(--TertiaryTextBtn);
}

.btnLinkedIn a:hover,
.btnGitHub a:hover {
	color: var(--shadow);
	text-decoration: none;
}

.btnLinkedIn a,
.btnGitHub a {
	color: var(--shadow);
	text-decoration: none;
}

#gitHubBtnSym,
#linkedInBtnSym {
	padding-right: 0.25em;
	color: var(--shadow);
}

@media screen and (max-width: 1800px) {
	#introTextContainer {
		min-width: 500px;
	}

	.computerGuySvgContainer {
		width: 100vw;
		min-width: 32vw;
	}

	.actionsContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	.personalizedText {
		font-size: 2rem;
		color: var(--subText);
	}

	.picThemeContainer {
		display: flex;
		margin: 0px auto;
		padding: 0px 1.5em;
	}

	#profilePicture {
		width: 20vw;
	}

	.theme-dot {
		height: 50px;
		width: 50px;
	}
}

@media screen and (max-width: 1366px) {
	.rightContainer {
		width: 100%;
	}

	#introTextContainer {
		min-width: 400px;
	}

	.introHeading {
		padding: 0.5em 0px 0px;
	}

	.computerGuySvgContainer {
		width: 100vw;
		min-width: 38vw;
	}

	.right-column {
		padding: 1em 0px;
	}

	/* text */
	.introHeading {
		font-size: 3rem;
	}

	.personalizedText {
		font-size: 1.5rem;
		color: var(--subText);
	}

	.boxTitle {
		font-size: 1.5rem;
	}

	.boxText {
		font-size: 1rem;
	}

	.ctaBtn {
		margin: 1em 0px;
	}

	.btnLinkedIn {
		font-size: 1.5rem;
	}

	.btnGitHub {
		font-size: 1.5rem;
	}
	#profilePicture {
		width: 20vw;
	}

	.theme-dot {
		height: 40px;
		width: 40px;
	}
}

@media screen and (max-width: 812px) {
	.introContainer {
		margin: 0px auto 3em;
	}

	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			'left-column'
			'right-column';
	}

	.right-column {
		justify-content: center;
		padding: 1em 0px;
		width: 100vw;
	}

	.rightContainer {
		width: 100%;
	}

	.left-column {
		padding: 1em 0px 2em;
	}

	#introTextContainer {
		min-width: 200px;
		height: auto;
	}

	.introHeading {
		padding: 1em 0px 0px;
	}

	.computerGuySvgContainer {
		width: 100vw;
		min-width: 100vw;
	}

	#computerGuy {
		width: 90%;
		margin: 0px auto;
	}

	/* text */
	.introHeading {
		font-size: 1.75rem;
	}

	.personalizedText {
		font-size: 1.5rem;
	}

	.boxTitle {
		font-size: 1.5rem;
	}

	.boxText {
		font-size: 1rem;
	}

	.ctaBtn {
		margin: 1em 0px;
	}

	.btnLinkedIn {
		font-size: 1rem;
	}

	.btnGitHub {
		font-size: 1rem;
	}

	.actionsContainer {
		width: 100%;
		display: block;
	}

	.picThemeContainer {
		display: block;
	}

	#profilePicture {
		width: 70vw;
	}

	.theme-dot {
		height: 50px;
		width: 50px;
	}

	#gitHubBtnSym,
	#linkedInBtnSym {
		font-size: 1rem;
	}
}
