.container {
    width: 100%;
    height: auto;
    background-color: var(--mainColor);
    color: var(--mainText);
}
.subContainer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgContainer {
    width: 50%;
}

.subTitle {
    font-size: 3rem;
    margin: .5em 0px;
}

.subText {
    font-size: 1.5rem;
}

.resumeDlText {
    font-size: 1.5rem;
    padding: 1.5em 0px;
}

.resumeDlLink {
    color: var(--TertiaryText);
    font-weight: bold;
}