@import '../../../breakpoints/breakpoints.scss';
@import '../../../mixins/mixins.scss';

div {
	.side2 {
		background-color: var(--secondaryColor);
		overflow: hidden;
		.sub-container {
			width: 100%;
			height: 100%;
			margin: 0px auto;
		}
		.main-container {
			width: 100%;
			height: 100%;
			margin: 0px auto;
			.backgroundBox {
				position: absolute;
				top: 0%;
				width: 100%;
				height: 100vh;
				margin: 0px;
				overflow: hidden;
				z-index: -1;
				.waves-container {
					.waveA {
						display: var(--DisplayA);
						position: absolute;
						top: 200px;
						left: 0%;
						width: 100vw;
						height: 500px;
						background-repeat: repeat-x;
						img {
							width: 1500vw;
							height: 40vh;
						}
					}
					.waveB {
						display: var(--DisplayA);
						position: absolute;
						top: 200px;
						left: 0%;
						width: 100vw;
						height: 500px;
						background-repeat: repeat-x;
						img {
							width: 1500vw;
							height: 40vh;
						}
					}
				}
				.fireworks-container {
					.fireworks {
						display: var(--DisplayB);
						position: absolute;
						top: 0%;
						left: 0%;
						width: 100%;
						background-size: 5000px 500px;
						overflow: hidden;
						background-color: black;
					}
				}
			}
		}
	}
	.side1 {
		background-color: var(--mainColor);
		overflow: hidden;
		.sub-container {
			width: 100%;
			height: 100%;
			margin: 0px auto;
		}
	}

	@include media('<=phone') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: 25%;
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								height: 50vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								height: 50vh;
							}
						}
					}
					.fireworks-container {
						.fireworks {
						}
					}
				}
			}
		}
	}

	@media only screen and (min-device-width: 360px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
		.side2 {
			background-color: var(--TertiaryTextBtnText);
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					transform: translateY(2em);
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								min-height: 100vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								min-height: 100vh;
							}
						}
					}
					.fireworks-container {
						.fireworks {
						}
					}
				}
			}
		}
	}

	@media only screen and (min-device-width: 100px) and (max-device-width: 351px) and (-webkit-min-device-pixel-ratio: 2) {
		.side2 {
			background-color: var(--TertiaryTextBtnText);
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					transform: translateY(16em);
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								min-height: 100vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								min-height: 100vh;
							}
						}
					}
					.fireworks-container {
						.fireworks {
						}
					}
				}
			}
		}
	}

	@include media('>phone', '<=425px') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: 15%;
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								height: 60vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								height: 60vh;
							}
						}
						.fireworks-container {
							.fireworks {
							}
						}
					}
				}
			}
		}
	}

	@include media('>425px', '<=tablet') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: 10%;
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								height: 80vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								height: 80vh;
							}
						}
					}
					.fireworks-container {
						.fireworks {
						}
					}
				}
			}
		}
	}

	@include media('>tablet', '<desktop') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: -5%;
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								height: 60vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								height: 60vh;
							}
						}
					}
					.fireworks-container {
						.fireworks {
						}
					}
				}
			}
		}
	}

	@include media('>=desktop') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: 5%;
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								height: 40vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								height: 40vh;
							}
						}
					}
					.fireworks-container {
						.fireworks {
						}
					}
				}
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: 0%;
					.waves-container {
						.waveA {
							img {
								width: 1500vw;
								height: 40vh;
							}
						}
						.waveB {
							img {
								width: 1500vw;
								height: 40vh;
							}
						}
					}
					.fireworks-container {
						.fireworks {
						}
					}
				}
			}
		}
	}
}
