@import '../../../breakpoints/breakpoints.scss';
@import '../../../mixins/mixins.scss';

div {
	.side2 {
		background-color: var(--secondaryColor);
		overflow: hidden;
		.sub-container {
			width: 100%;
			height: 100%;
			margin: 0px auto;
		}
		.main-container {
			width: 100%;
			height: 100%;
			margin: 0px auto;
			.backgroundBox {
				position: absolute;
				top: 0%;
				width: 100%;
				height: 100vh;
				margin: 0px;
				overflow: hidden;
				z-index: -1;
				.waveA {
					display: var(--DisplayA);
					position: absolute;
					top: 200px;
					left: 0%;
					width: 100vw;
					height: 500px;
					background-repeat: repeat-x;
					img {
						width: 800vw;
					}
				}
				.waveB {
					display: var(--DisplayA);
					position: absolute;
					top: 200px;
					left: 0%;
					width: 100vw;
					height: 500px;
					background-repeat: repeat-x;
					img {
						width: 800vw;
					}
				}
				.fireworks {
					display: var(--DisplayB);
					position: absolute;
					top: 0%;
					left: 0%;
					width: 100%;
					background-size: 5000px 500px;
					overflow: hidden;
					background-color: black;
				}
			}
		}
	}
	.side1 {
		background-color: var(--mainColor);
		overflow: hidden;
		.sub-container {
			width: 100%;
			height: 100%;
			margin: 0px auto;
		}
	}

	@include media('<=phone') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					.waveA {
						img {
							width: 900vw;
						}
					}
					.waveB {
						img {
							width: 900vw;
						}
					}
					.fireworks {
					}
				}
			}
		}
	}

	@include media('>phone', '<=425px') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					.waveA {
						img {
							width: 800vw;
						}
					}
					.waveB {
						img {
							width: 800vw;
						}
					}
					.fireworks {
					}
				}
			}
		}
	}

	@include media('>425px', '<=tablet') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					.waveA {
						img {
							width: 800vw;
						}
					}
					.waveB {
						img {
							width: 800vw;
						}
					}
					.fireworks {
					}
				}
			}
		}
	}

	@include media('>tablet', '<desktop') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: -20%;
					.waveA {
						img {
							width: 800vw;
						}
					}
					.waveB {
						img {
							width: 800vw;
						}
					}
					.fireworks {
					}
				}
			}
		}
	}

	@include media('>=desktop') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: -10%;
					.waveA {
						img {
							width: 1000vw;
						}
					}
					.waveB {
						img {
							width: 1000vw;
						}
					}
					.fireworks {
					}
				}
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.side2 {
			.sub-container {
			}
			.main-container {
				.backgroundBox {
					top: -5%;
					.waveA {
						img {
							width: 1000vw;
							height: 40vh;
						}
					}
					.waveB {
						img {
							width: 1000vw;
							height: 40vh;
						}
					}
					.fireworks {
					}
				}
			}
		}
	}
}
