@import '../../../breakpoints/breakpoints.scss';

.footerContainer {
	color: var(--mainText);
	background: var(--HeadingColor);
	width: 100vw;
	font-family: 'Cabin', sans-serif;
	.footerNav {
		#nav {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: 0;
			padding: 0.5em 1em;
			background-color: rgba(0, 0, 0, 0.25);
			li {
				color: #b3b3b3;
				list-style-type: none;
				a {
					color: var(--mainText);
					&:hover {
						color: var(--secondaryText);
						text-decoration: none;
					}
				}
			}
			.navLinesBottom {
				color: var(--mainText);
			}
		}
	}
	#footerline {
		margin-top: 0px;
		margin-bottom: 0px;
		border-top: 1px solid var(--HeadingColor);
	}
	.footerSubContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		font-size: 1rem;
		width: 100vw;
		margin: 0px auto;
		padding: 0px 2em;
		color: var(--mainText);
		background: rgba(0, 0, 0, 0.5);
		.leftFooter {
		}
		.rightFooter {
		}
	}

	@include media('<=phone') {
		.footerNav {
			#nav {
				font-size: 1rem;
				justify-content: center;
				li {
					a {
						&:hover {
						}
					}
				}
				.navLinesBottom {
					margin: 0px 1em;
				}
			}
		}
		#footerline {
		}
		.footerSubContainer {
			font-size: 0.75rem;
			.leftFooter {
			}
			.rightFooter {
			}
		}
	}

	@include media('>phone', '<=425px') {
		.footerNav {
			#nav {
				font-size: 1rem;
				justify-content: center;
				li {
					a {
						&:hover {
						}
					}
				}
				.navLinesBottom {
					margin: 0px 1em;
				}
			}
		}
		#footerline {
		}
		.footerSubContainer {
			font-size: 0.75rem;
			.leftFooter {
			}
			.rightFooter {
			}
		}
	}

	@include media('>425px', '<=tablet') {
		.footerNav {
			#nav {
				font-size: 1rem;
				justify-content: center;
				li {
					a {
						&:hover {
						}
					}
				}
				.navLinesBottom {
					margin: 0px 1em;
				}
			}
		}
		#footerline {
		}
		.footerSubContainer {
			font-size: 0.75rem;
			.leftFooter {
			}
			.rightFooter {
			}
		}
	}

	@include media('>tablet', '<desktop') {
		.footerNav {
			#nav {
				font-size: 1.5rem;
				li {
					a {
						&:hover {
						}
					}
				}
				.navLinesBottom {
					margin: 0px 2.5em;
				}
			}
		}
		#footerline {
		}
		.footerSubContainer {
			font-size: 1rem;
			.leftFooter {
			}
			.rightFooter {
			}
		}
	}

	@include media('>=desktop') {
		.footerNav {
			#nav {
				font-size: 2rem;
				li {
					a {
						&:hover {
						}
					}
				}
				.navLinesBottom {
					margin: 0px 3.5em;
				}
			}
		}
		#footerline {
		}
		.footerSubContainer {
			font-size: 1.5rem;
			.leftFooter {
			}
			.rightFooter {
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.footerNav {
			#nav {
				font-size: 2rem;
				li {
					a {
						&:hover {
						}
					}
				}
				.navLinesBottom {
					margin: 0px 3.5em;
				}
			}
		}
		#footerline {
		}
		.footerSubContainer {
			font-size: 2rem;
			.leftFooter {
			}
			.rightFooter {
			}
		}
	}
}
