/**
*
* Testing
*
**/
.footerContainer {
  color: var(--mainText);
  background: var(--HeadingColor);
  height: auto;
  width: 100vw;
  font-family: 'Cabin', sans-serif;
}

.footerContainer .footerNav #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.25);
}

.footerContainer .footerNav #nav li {
  list-style: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footerContainer .footerNav #nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footerContainer .footerNav #nav li div {
  color: #b3b3b3;
  list-style-type: none;
}

.footerContainer .footerNav #nav li div a {
  color: var(--mainText);
}

.footerContainer .footerNav #nav li div a:hover {
  color: var(--secondaryText);
  text-decoration: none;
}

.footerContainer .footerNav #nav .navLinesBottom {
  color: var(--mainText);
}

.footerContainer #footerline {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid var(--HeadingColor);
}

.footerContainer .footerSubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  margin: 0px auto;
  padding: 0px 2em;
  color: var(--mainText);
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 360px) {
  .footerContainer .footerNav #nav {
    font-size: 1rem;
  }
  .footerContainer .footerNav #nav li .navLinesBottom {
    margin: 0px 1em;
  }
  .footerContainer .footerSubContainer {
    font-size: 0.5rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .footerContainer .footerNav #nav {
    font-size: 1rem;
    padding: 0.25em;
  }
  .footerContainer .footerNav #nav li .navLinesBottom {
    margin: 0px 1em;
  }
  .footerContainer .footerSubContainer {
    font-size: 0.75rem;
    margin: 0px;
    padding: 0px 1em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footerContainer .footerNav #nav {
    font-size: 1.5rem;
    padding: 0px 0.75em;
  }
  .footerContainer .footerNav #nav li .navLinesBottom {
    margin: 0px 1em;
  }
  .footerContainer .footerSubContainer {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .footerContainer .footerNav #nav {
    font-size: 1.5rem;
    padding: 0px 2em;
  }
  .footerContainer .footerNav #nav li div a .selectA::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Home";
  }
  .footerContainer .footerNav #nav li div a .selectB::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Top";
  }
  .footerContainer .footerNav #nav li div a .selectC::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Project";
  }
  .footerContainer .footerNav #nav li div a .selectD::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Linkedin";
  }
  .footerContainer .footerNav #nav li div a .selectE::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Github";
  }
  .footerContainer .footerNav #nav li .navLinesBottom {
    margin: 0px 2em;
  }
  .footerContainer .footerSubContainer {
    font-size: 1rem;
  }
}

@media (min-width: 1366px) {
  .footerContainer .footerNav #nav {
    font-size: 2rem;
  }
  .footerContainer .footerNav #nav li div a .selectA::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Home";
  }
  .footerContainer .footerNav #nav li div a .selectB::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Top";
  }
  .footerContainer .footerNav #nav li div a .selectC::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Project";
  }
  .footerContainer .footerNav #nav li div a .selectD::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Linkedin";
  }
  .footerContainer .footerNav #nav li div a .selectE::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Github";
  }
  .footerContainer .footerNav #nav li .navLinesBottom {
    margin: 0px 3.5em;
  }
  .footerContainer .footerSubContainer {
    font-size: 1rem;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .footerContainer .footerNav #nav {
    font-size: 2rem;
  }
  .footerContainer .footerNav #nav li {
    margin: 0px 3.5em;
  }
  .footerContainer .footerNav #nav li div a .selectA::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Home";
  }
  .footerContainer .footerNav #nav li div a .selectB::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Top";
  }
  .footerContainer .footerNav #nav li div a .selectC::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Project";
  }
  .footerContainer .footerNav #nav li div a .selectD::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Linkedin";
  }
  .footerContainer .footerNav #nav li div a .selectE::after {
    font-family: 'Cabin', sans-serif;
    margin: 0.5em;
    content: "Github";
  }
  .footerContainer .footerSubContainer {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=Footer.css.map */