.contactTitle {
	color: var(--mainText);
	text-align: center;
	font-size: 3rem;
	font-weight: 400;
	padding: 0.5em 0px;
	font-family: 'Modak', cursive;
}

#contact-form {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--themeContainerDotBorder);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--formColor);
	margin-bottom: 50px;
	-webkit-box-shadow: -2px 7px 21px -9px var(--shadow);
	-moz-box-shadow: -2px 7px 21px -9px var(--shadow);
	box-shadow: -2px 7px 21px -9px var(--shadow);
}

.label {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 2.5em;
	color: var(--secondaryText);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cabin', sans-serif;
}

.iconSymbol {
	margin: 0px 0.5em;
}

#contact-form textarea {
	min-height: 100px;
	font-size: 14px;
}

.input-field {
	width: 100%;
	padding: 10px;
	background-color: var(--formColor);
	border-radius: 5px;
	font-size: 14px;
	font-family: 'Cabin', sans-serif;
}

#submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0.5em 0px;
	width: 100%;
	padding: 10px 0px;
	color: var(--TertiaryText);
	background-color: var(--TertiaryTextBtn);
	border: none;
	-moz-box-shadow: 0 4px 4px var(--shadow);
	-webkit-box-shadow: 0 4px 4px var(--shadow);
	box-shadow: 0 4px 4px var(--shadow);
	font-family: 'Cabin', sans-serif;
}

#submit-btn:hover {
	color: var(--TertiaryTextBtnText);
	background-color: var(--TertiaryTextBtnHover);
}

@media screen and (max-width: 1600px) {
	.contactTitle {
		font-size: 3rem;
	}
}

@media screen and (max-width: 1366px) {
	.contactTitle {
		font-size: 2rem;
	}
}

@media screen and (max-width: 812px) {
	.contactTitle {
		font-size: 1.75rem;
	}

	.formContainer {
		padding: 0px 2em;
	}

	.label {
		font-size: 1.25rem;
	}
}
