.linkedInContainer {
    width: 100%;
    background-color: var(--secondaryColor);
    padding: 2em 0px;
}

#linkedInImage {
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--themeContainerDotBorder);
}

.linkedInText {
    font-size: 3rem;
    color: var(--mainText);
}

.linkedInBtnText {
    font-size: 2rem;
    color: var(--TertiaryText);
}

.linkedInBtnText:hover {
    color: var(--secondaryText);
}