.linkedInContainer {
    width: 100%;
    background-color: var(--secondaryColor);
    padding: 2em 0px;
}

#linkedInImage {
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--themeContainerDotBorder);
}

.linkedInText {
    font-size: 3rem;
    color: var(--mainText);
    padding: 0px 0px .5em;
}

.linkedInBtnTextContainer {
    padding: 1em 0px 0em;
}

.linkedInBtnText {
    font-size: 2rem;
    color: var(--TertiaryText);
}

.linkedInBtnText:hover {
    color: var(--secondaryText);
}

@media screen and (max-width: 1600px)  {
    .linkedInText {
        font-size: 3rem;
    }

    .linkedInBtnText {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1366px) {
    .linkedInText {
        font-size: 2rem;
    }

    .linkedInBtnText {
        font-size: 2rem;
    }
}

@media screen and (max-width: 812px) {
    .linkedInText {
        font-size: 2rem;
    }

    .linkedInBtnText {
        font-size: 2rem;
    }
}