.linkedInContainer {
    width: 100%;
    background-color: var(--secondaryColor);
    padding: 2em 0px;
}

#linkedInImage {
    width: 80%;
    max-width: 1400px;
    border-radius: 10px;
    border: 1px solid var(--themeContainerDotBorder);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.linkedInText {
    font-size: 3rem;
    color: var(--mainText);
    padding: 0px 0px .5em;
}

.linkedInBtnTextContainer {
    padding: 1em 0px 0em;
}

.linkedInBtnText {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--TertiaryText);
    background: var(--TertiaryTextBtn);
    padding: .25em 2em;
    border-radius: 50px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.linkedInBtnText:hover {
    color: var(--TertiaryTextBtnText);
    background: var(--TertiaryTextBtnHover);
    text-decoration: none;
}

@media screen and (max-width: 1800px)  {
    .linkedInText {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1366px) {
    .linkedInText {
        font-size: 2rem;
    }
}

@media screen and (max-width: 812px) {
    .linkedInText {
        font-size: 2rem;
    }
}