.headingContainer {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: var(--HeadingColor);
    padding: 1em 0px;
    font-family: 'Russo One', sans-serif;
}

.headingText {
    font-size: 4rem;
    color: var(--mainText);
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navigation li {
    font-size: 2rem;
    color: #b3b3b3;
}

#navigation li a {
    color: var(--mainText);
}

#navigation li a:hover {
    color: var(--secondaryText);
    text-decoration: underline;
}