@import '../../../breakpoints/breakpoints.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	min-height: 100vh;
	background: var(--background);
	z-index: -2;
	@include media('<=phone') {
		background: var(--background);
	}

	@include media('>phone', '<=425px') {
		background: var(--backgroundA);
	}

	@include media('>425px', '<=tablet') {
		background: var(--backgroundB);
	}

	@include media('>tablet', '<desktop') {
		background: var(--backgroundC);
	}

	@include media('>=desktop') {
		background: var(--backgroundD);
	}

	@include media('>=LGdesktop', 'retina2x') {
		background: var(--backgroundE);
	}
}
