@import '../../../breakpoints/breakpoints.scss';
@import '../../../mixins/mixins.scss';

.projects {
	background-color: var(--mainColor);
	@include heightWidth(auto, 100%);
	max-width: 1400px;
	margin: 0px auto;
	.projectTitle {
		font-size: 3rem;
		font-weight: 400;
		font-family: 'Modak', cursive;
		text-align: center;
		color: var(--mainText);
		margin: 0px;
		padding: 0.5em 0px;
	}
	.post-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, 350px);
		gap: 20px;
		justify-content: center;
		padding-bottom: 50px;
		div {
			.post {
				border: 1px solid var(--themeContainerDotBorder);
				border-radius: 5px;
				-webkit-box-shadow: -2px 7px 21px -9px var(--shadow);
				-moz-box-shadow: -2px 7px 21px -9px var(--shadow);
				box-shadow: -2px 7px 21px -9px var(--shadow);
				transform: scale(1);
				transition: all 0.5s ease-in-out;
				&:hover {
					transform: scale(1.05);
				}
				a {
					.thumbnail {
						display: block;
						@include heightWidth(270px, 100%);
						object-fit: cover;
					}
				}
				.post-preview {
					background-color: #fff;
					padding: 15px;
					.post-title {
						font-size: 1.5rem;
						font-weight: 400;
						padding: 0.5em 0px;
						color: black;
						margin: 0;
						font-family: 'Modak', cursive;
					}
					.post-intro {
						color: #4b5156;
						font-size: 14px;
						font-family: 'Cabin', sans-serif;
					}
					.viewMoreBtn {
						padding: 0.5em 0px;
						font-family: 'Cabin', sans-serif;
						transform: scale(1);
						transition: all 0.5s ease-in-out;
						&:hover {
							transform: scale(1.1);
							color: var(--shadow);
						}
					}
				}
			}
		}
	}

	@include media('<=phone') {
		@include heightWidth(auto, 100%);
		padding: 0px;
		.projectTitle {
			font-size: 1.75rem;
		}
		.post-wrapper {
			@include heightWidth(auto, 100vw);
			gap: 20px;
			div {
				.post {
					margin: 0px 1.5em;
					a {
						.thumbnail {
						}
					}
					.post-preview {
						.post-title {
							font-size: 1.5rem;
						}
						.post-intro {
						}
						.viewMoreBtn {
							&:hover {
							}
						}
					}
				}
			}
		}
	}

	@include media('>phone', '<=425px') {
		@include heightWidth(auto, 100%);
		margin: 0px auto;
		.projectTitle {
			font-size: 2.25rem;
		}
		.post-wrapper {
			@include heightWidth(auto, 100vw);
			gap: 20px;
			div {
				.post {
					margin: 0px 0.5em;
					a {
						.thumbnail {
						}
					}
					.post-preview {
						.post-title {
							font-size: 1.5rem;
						}
						.post-intro {
						}
						.viewMoreBtn {
							&:hover {
							}
						}
					}
				}
			}
		}
	}

	@include media('>425px', '<=tablet') {
		@include heightWidth(auto, 100%);
		margin: 0px auto;
		.projectTitle {
			font-size: 2.5rem;
		}
		.post-wrapper {
			@include heightWidth(auto, 100vw);
			gap: 20px;
			div {
				.post {
					margin: 0px 1em;
					a {
						.thumbnail {
						}
					}
					.post-preview {
						.post-title {
							font-size: 1.5rem;
						}
						.post-intro {
						}
						.viewMoreBtn {
							&:hover {
							}
						}
					}
				}
			}
		}
	}

	@include media('>tablet', '<desktop') {
		@include heightWidth(auto, 100%);
		margin: 0px auto;
		.projectTitle {
			font-size: 4rem;
		}
		.post-wrapper {
			@include heightWidth(auto, 100vw);
			gap: 20px;
			div {
				.post {
					a {
						.thumbnail {
						}
					}
					.post-preview {
						.post-title {
						}
						.post-intro {
						}
						.viewMoreBtn {
							&:hover {
							}
						}
					}
				}
			}
		}
	}

	@include media('>=desktop') {
		.projectTitle {
			font-size: 4.5rem;
		}
		.post-wrapper {
			div {
				.post {
					a {
						.thumbnail {
						}
					}
					.post-preview {
						.post-title {
						}
						.post-intro {
						}
						.viewMoreBtn {
							&:hover {
							}
						}
					}
				}
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		@include heightWidth(auto, 100%);
		max-width: 1600px;
		margin: 0px auto;
		.projectTitle {
			font-size: 7rem;
		}
		.post-wrapper {
			@include heightWidth(auto, 1600px);
			gap: 60px;
			justify-content: center;
			padding-bottom: 50px;
			div {
				.post {
					a {
						.thumbnail {
						}
					}
					.post-preview {
						.post-title {
						}
						.post-intro {
						}
						.viewMoreBtn {
							&:hover {
							}
						}
					}
				}
			}
		}
	}
}
