/**
*
* Testing
*
**/
.projects {
  background-color: var(--mainColor);
  height: auto;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

.projects .projectTitle {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Modak', cursive;
  text-align: center;
  color: var(--mainText);
  margin: 0px;
  padding: 0.5em 0px;
}

.projects .post-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.projects .post-wrapper div .post {
  border: 1px solid var(--themeContainerDotBorder);
  border-radius: 5px;
  -webkit-box-shadow: -2px 7px 21px -9px var(--shadow);
  box-shadow: -2px 7px 21px -9px var(--shadow);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects .post-wrapper div .post:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects .post-wrapper div .post a .thumbnail {
  display: block;
  height: 270px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .post-wrapper div .post .post-preview {
  background-color: #fff;
  padding: 15px;
}

.projects .post-wrapper div .post .post-preview .post-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5em 0px;
  color: black;
  margin: 0;
  font-family: 'Modak', cursive;
}

.projects .post-wrapper div .post .post-preview .post-intro {
  color: #4b5156;
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
}

.projects .post-wrapper div .post .post-preview .viewMoreBtn {
  padding: 0.5em 0px;
  font-family: 'Cabin', sans-serif;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects .post-wrapper div .post .post-preview .viewMoreBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--shadow);
}

@media (max-width: 360px) {
  .projects {
    height: auto;
    width: 100%;
    padding: 0px;
  }
  .projects .projectTitle {
    font-size: 1.75rem;
  }
  .projects .post-wrapper {
    height: auto;
    width: 100vw;
    gap: 20px;
  }
  .projects .post-wrapper div .post {
    margin: 0px 1.5em;
  }
  .projects .post-wrapper div .post .post-preview .post-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .projects {
    height: auto;
    width: 100%;
    margin: 0px auto;
  }
  .projects .projectTitle {
    font-size: 2.25rem;
  }
  .projects .post-wrapper {
    height: auto;
    width: 100vw;
    gap: 20px;
  }
  .projects .post-wrapper div .post {
    margin: 0px 0.5em;
  }
  .projects .post-wrapper div .post .post-preview .post-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .projects {
    height: auto;
    width: 100%;
    margin: 0px auto;
  }
  .projects .projectTitle {
    font-size: 2.5rem;
  }
  .projects .post-wrapper {
    height: auto;
    width: 100vw;
    gap: 20px;
  }
  .projects .post-wrapper div .post {
    margin: 0px 1em;
  }
  .projects .post-wrapper div .post .post-preview .post-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .projects {
    height: auto;
    width: 100%;
    margin: 0px auto;
  }
  .projects .projectTitle {
    font-size: 4rem;
  }
  .projects .post-wrapper {
    height: auto;
    width: 100vw;
    gap: 20px;
  }
}

@media (min-width: 1366px) {
  .projects .projectTitle {
    font-size: 4.5rem;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .projects {
    height: auto;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
  }
  .projects .projectTitle {
    font-size: 7rem;
  }
  .projects .post-wrapper {
    height: auto;
    width: 1600px;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=Projects.css.map */