@mixin heightWidth($hei, $wei) {
	height: $hei;
	width: $wei;
}

@mixin topLeftAbsolute($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin flexCenter($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

@mixin contentMix($content) {
	font-family: 'Cabin', sans-serif;
	margin: 0.5em;
	content: $content;
}

@mixin wavesAnimationMix($animName) {
	background-repeat: repeat-x;
	animation: $animName;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-delay: 10s;
	animation-fill-mode: forwards;
	overflow: hidden;
}
